!!! 5
html
  head
    include includes/head
    link(href='libs/css/styleguide.css', rel='stylesheet', type='text/css')

  body
    include includes/toppanel
    .container
      .row-fluid
        .span3
          .well(style="position:fixed;")
            ul.nav.nav-list
              each section in sections
                li
                  a(href='##{section.data.reference}') #{section.data.reference} #{section.data.header}
        .span9
          each section in sections
            a(name='#{section.data.reference}') &nbsp;
            br
            .styleguide-example
              h3 #{section.data.reference} #{section.data.header}
                em #{section.data.filename} 
              .styleguide-description
                p!= section.data.description
                if section.data.modifiers
                  ul.styleguide-modifier
                    each modifier in section.modifiers()
                      li
                        strong #{modifier.name()} - 
                        text #{modifier.description()}
              .styleguide-element!= section.data.example
              each modifier in section.data.modifiers
                .styleguide-element.styleguide-modifier
                  span.styleguide-modifier-name #{modifier.name()}
                  section!= modifier.data.example
              pre.styleguide-code
                code(data-language='html')= section.data.example
    script(type='text/javascript')
      $(function() {
        $("[data-original-title]").tooltip();
      });
